@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Clash Loot Webpage</h1>
    <p class="lead">ASP.NET web application that models data fetched from the Clash API</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Modeling Data</h2>
        <p>This web application models the data stored in the database and displays the data in a table. As more data comes in trends can be analyzed.</p>
        <p><a class="btn btn-default" href="https://github.com/jharvey7136/ClashLootWebpage">github</a></p>
    </div>
    <div class="col-md-4">
        <h2>CoCNET</h2>
        <p>This CoC API wrapper is being used in the process. Credit to github user smietanka </p>
        <p><a class="btn btn-default" href="https://github.com/smietanka/CocNET">github</a></p>
    </div>
    <div class="col-md-4">
        <h2>Loot Console App</h2>
        <p>This Windows Console App, when executed, fetches current data from the clash servers and stores it into a database </p>
        <p><a class="btn btn-default" href="https://github.com/jharvey7136/LootConsoleApp">github</a></p>
    </div>
</div>